body {
    font-family: Arial, sans-serif;
    background-color: #0b3c8a; 
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10px;
}

.descripcion {
    font-size: 15px;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 15px;
}


#tablero {
    display: grid;
    grid-template-columns: repeat(8, 95px);
    gap: 0;
    justify-content: center;
    padding: 10px;
    background-image:
        linear-gradient(45deg, #1e3a5f 25%, transparent 25%),
        linear-gradient(-45deg, #1e3a5f 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #1e3a5f 75%),
        linear-gradient(-45deg, transparent 75%, #1e3a5f 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}


.carta {
    width: 95px;
    height: 95px;
    perspective: 1000px;
    margin: 2px;
}

.carta-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.carta.volteada .carta-inner {
    transform: rotateY(180deg);
}


.frente {
    background-color: #243b55;
}


.atras {
    background-color: #ffffff;
    color: #0b3c8a;
    transform: rotateY(180deg);
    font-weight: bold;
}


.frente,
.atras {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6px;
    font-size: 13px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
